.header-active {
  @apply bg-transparent shadow-none lg:top-6;
}

.navbar-desktop-active {
  @apply container rounded-full bg-white shadow-xl;
}

.listing-banner-image {
  -webkit-mask-image: url("../public/assets/images/bannerBg.svg");
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
}

.innerHtmlContainer a {
  @apply font-medium text-secondary;
}

@media screen and (max-width: 768px) {
  .listing-banner-image {
    -webkit-mask-image: none;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
  }
}

#testimonial-pagination {
  @apply flex justify-center;
}

#testimonial-pagination .swiper-pagination-bullet {
  @apply transition-all duration-300;
}

#testimonial-pagination .swiper-pagination-bullet-active {
  @apply w-6 rounded-xl bg-primary;
}

.react-datepicker-wrapper {
  @apply w-full;
}
